.phone-frame {
  width: 393px;
  height: 852px;
  max-width: 100%;
  box-shadow: 0 0 10px rgb(184, 181, 181);
  overflow: hidden;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
